<div class="mini-header">
    <div class="mini-div">
        <span class="mini-text">Friends</span>
    </div>
</div>
    <div *ngIf="hasFriends==false">
        <h2><p>You currently have no friends</p></h2>
    </div>
    <div class = "bg-div" *ngIf="hasFriends">
        <div class="container">
        <div class="friendBox draw-border" *ngFor="let friend of friends;let i = index;" style="background-color: black;border-width: 0ch;margin: 40px;">
            <div>
                <a [routerLink]="['/search',friend]" style="text-decoration:none">
                <button class="btn">
                <a [routerLink]="['/search',friend]"><img class="friendImg" id="{{friend}}_img"></a>
                <a [routerLink]="['/search',friend]"><span class="friendName" id="{{friend}}_name" style="color: red;">{{friend}}</span></a>
                </button></a> </div>
        </div>
        </div>
    </div>
