<div id="outer_div">
    <div class="container"  id="inner_div">
        <div *ngIf="hasFriends==false">
            <h2><p>You currently have no friends</p></h2>
        </div>
        <div *ngIf="hasFriends">
            <div class="friendBox" *ngFor="let friend of friends;let i = index;">
                <div>
                    <a [routerLink]="['/search',friend]"><img class="friendImg" id="{{friend}}_img"></a>
                    <a [routerLink]="['/search',friend]"><span class="friendName" id="{{friend}}_name">{{friend}}</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
