@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css);

.friendBox {
    background-color: white;
    border: solid 1px lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.friendImg {
    width:75px;
    height: 75px;
    margin: 0px 20px 0px 0px;
}

.friendName{
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    vertical-align: middle;
}