<div class="body">
    <div class="center">
        <button (click)=showButtons() class="btn draw-border">Edit Info</button>
        <button (click)=hideButtons() class="btn draw-border">Done</button>
        <div class="avatar">
            <img id="profile_pic" (click)=openfileDialog()>
        </div>
        <div class="content">
            <h1>{{profile.firstname}} {{profile.lastname}}</h1>
            <p id="summary" class="summary" (click)=editProfile()>I love gaming.</p>
            <button class="hidden btn draw-border" id="edit_tag" (click)="updateSummary()">Update</button>
        </div>
        <div class="social">
            <div *ngIf="hasFacebook || hasTwitter">You can find me at</div>
            <a *ngIf="hasFacebook" id="fb" href={{profile.facebook}} target="_blank"><i class="fab fa-facebook"></i></a>
            <a *ngIf="hasTwitter" id="twtr" href={{profile.twitter}} target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="hidden">
            <span><span style="font-size: large;margin: 1em;">Facebook</span><input class="clean-slide" type="text" id="fbLink" placeholder="Enter Facebook link " /><label for="fbLink">Facebook</label>
            </span><button class="hidden btn draw-border" id="fb_update" (click)="updateFacebook()">Update</button>
            <br>
            <span style="font-size: large;margin: 1em;">Twitter</span><input type="text" id="twtrLink" class="clean-slide" placeholder="Enter Twitter link " /><label for="twtrLink">Twitter</label>

            <button class="hidden btn draw-border" id="twtr_update" (click)="updateTwitter()">Update</button>
            <br>
       </div>
        <br>
        <div *ngIf="hasFriends">
         <span style="font-size: 20px;"> {{profile.firstname}}'s Friends</span>
            <div id="friends">
                <div class="row row-list">
                    <div class="col-sm" *ngFor="let friend of friends | slice:0:3;">
                        <a [routerLink]="['/search',friend]"><img id="img_{{friend}}" class="friend_img"><br></a>
                        <a [routerLink]="['/search',friend]" id="name_{{friend}}" class="friend_link"></a>
                    </div>
                </div>
            </div>
            <div style="font-size: 20px;">
                <a routerLink="/friends">See all friends</a>
            </div>
        </div>
        <div *ngIf="hasFriends == false" style="font-size:25px;">
            You haven't made any friends yet
        </div>
    </div>
</div>
<input id="imageUpload" type="file" name="image" accept="image/*" (change)="updateImage($event.target.files)">

