<div class="body">
    <div class="center">
        <div class="avatar">
            <img id="profile_pic">
        </div>
        <div class="content">
            <h1>{{profile.firstname}} {{profile.lastname}}</h1>
            <h2>Gamer</h2>
            <p> I am cool people drool. You fool, you are old school.</p>
            <h3>You can find me at</h3>
        </div>
        <div class="social">
            <a href="#"><i class="fab fa-mail"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</div>

