<div class="form__group field" style="margin-left:400px ;margin-top: 80px;margin-bottom: 100px;padding-bottom: 1000px;">
  <form>

  <input type="text" class="form__field" placeholder="Enter your message" name="name" id='name' required  [(ngModel)]="msg"/>
  <label id="msg_label" for="name" class="form__label">Enter your message</label>

  <div class="button-circle" style="margin-left: 500px;" (click)="postmsg()">
    <div class="gradient"></div>
    <div class="button"><i class="fa fa-rocket fa-2x" style="position: relative; top: 18px;"></i></div>
  </div>
</form>
</div>
