<!-- <div> -->
<div>
<div  class = "bg-div">
    <div  class="search-box">
        <input style="background-color: black;"type="text" id="username" (click)="getUsername()" placeholder="Search">
        <i id="icon" class="search" (click)="getUsername()"></i>
      </div>
    <div class="mini-div">
        <span class="mini-text">Search</span>
    </div>
</div>
<br>
    <!-- <input id="username">
    <button (click)="getUsername()">Search</button>
</div> -->
<div class="body1" id="profile_body">
    <div class="center">
        <button *ngIf="notFriend" (click)="sendFriendRequest(username)" class="btn draw-border">Add Friend</button>
        <div class="avatar">
            <img id="profile_pic">
        </div>
        <div class="content">
            <h1>{{profile.firstname}} {{profile.lastname}}</h1>
            <p id="summary" class="summary">I love gaming.</p>
        </div>
        <div class="social">
            <div *ngIf="hasFacebook || hasTwitter">You can find me at</div>
            <a *ngIf="hasFacebook" id="fb" href={{profile.facebook}} target="_blank"><i class="fab fa-facebook"></i></a>
            <a *ngIf="hasTwitter" id="twtr" href={{profile.twitter}} target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        <br>
        <div *ngIf="hasFriends" style="font-size: 20px;">
            {{profile.firstname}}'s Friends
            <div id="friends">
                <div class="row row-list">
                    <div class="col-sm" *ngFor="let friend of friends | slice:0:3;">
                        <a [routerLink]="['/search',friend]"><img id="img_{{friend}}" class="friend_img"></a><br>
                        <a [routerLink]="['/search',friend]" id="name_{{friend}}" class="friend_link"></a>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="hasFriends == false">
            {{profile.firstname}} hasn't made any friends yet
        </div>
    </div>
</div>
</div>
