body {
  background: url('https://wallpaperplay.com/walls/full/4/5/f/80955.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', Tahoma, Arial, sans-serif;
  line-height: 1.5;
  font-size: 13px;
}

.scroll {
  width: 5000px;
                height: 700px;
                overflow-x: hidden;
                overflow-x: auto;
}
