

    <div class="talk-bubble tri-right border round btm-left-in" style="margin-left:600px;padding-right: 500px;">
      <div class="talktext">
        
        <p>
          <a [routerLink]="['/search',chat.username]"><b style="font-size: larger;">
           <span *ngIf="colourcode(chat.username)===9" style="color: red;">{{chat.username}}</span>
           <span *ngIf="colourcode(chat.username)===1" style="color:blue;">{{chat.username}}</span>
           <span *ngIf="colourcode(chat.username)===2" style="color:purple;">{{chat.username}}</span>
           <span *ngIf="colourcode(chat.username)===3" style="color:green;">{{chat.username}}</span>
           <span *ngIf="colourcode(chat.username)===4" style="color:magenta;">{{chat.username}}</span>
           <span *ngIf="colourcode(chat.username)===5" style="color:gold;">{{chat.username}}</span>
           <span *ngIf="colourcode(chat.username)===6" style="color:aqua;">{{chat.username}}</span>
           <span *ngIf="colourcode(chat.username)===7" style="color:brown;">{{chat.username}}</span>
           <span *ngIf="colourcode(chat.username)===8" style="color:orange;">{{chat.username}}</span>
           <span *ngIf="colourcode(chat.username)===10" style="color:crimson;">{{chat.username}}</span>
          </b>
          </a>

          <span>
            <button class="button button5">{{chat.similarity}}%</button>
          </span>

          <!-- {{chat.timestamp}}
          <br> --><span style="font-size: large;font-weight: 500;">{{chat.msg}}</span>

          <br></p>
      </div>
    </div>
    <br>
 