<div class="mini-header">
    <div class="mini-div">
        <span class="mini-text">Chess Requests</span>
    </div>
</div>
<div>
    <div class="wrapper">
    <div class="left-div">
        <span class="div-header">Invite Friends</span>
        <div id="inviteFriends">
            <div class="card" style="margin: 10px;padding:10px" *ngFor="let friend of friendObjects;let i = index">
                <div style="font-weight:500" class="card-title" id="send_{{friend.name}}">{{friend.name}}</div>
                <button class="button" *ngIf="friend.hasRequest == false" (click)="sendRequest(friend.name)">Send Request</button>
                <p class="card-text" style="font-size:15px;" *ngIf="friend.hasRequest"> Request Pending</p>
            </div>
        </div>
    </div>
    <div class="right-div">
        <span class="div-header">Requests</span>
        <div *ngIf="noRequests" id="requests">
            You have no requests
        </div>
        <div *ngIf="noRequests == false" id="requests">
            <div class="card" style="margin: 10px;padding:10px" *ngFor="let request of requestObjects;let i = index">
                <div *ngIf="request.accepted">
                    <div style="font-weight:500" class="card-title" *ngIf="request.from == username">
                        {{request.to}} has accepted your request!<br>
                        <a class="card-link" href="../../assets/Chess/chess.html?code={{request.reqid}}&color=w">Play now!</a>
                    </div>
                    <div style="font-weight:500" class="card-title" *ngIf="request.to == username">
                        You have accepted {{request.from}}'s request!<br>
                        <a class="card-link" href="../../assets/Chess/chess.html?code={{request.reqid}}&color=b">Play now!</a>
                    </div>                
                </div>
                <div *ngIf="request.accepted==false">
                    <div style="font-weight:500" class="card-title">This request is still pending</div>
                    <div class="card-text" *ngIf="request.from == username">
                       {{request.to}} is yet to accept your request
                    </div>
                    <div class="card-text" *ngIf="request.to == username">
                        {{request.from}} is inviting you to play!
                        <button class="button" (click)=acceptRequest(request.reqid)>Accept Request</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
