<div class="mini-header">
    <div class="mini-div">
        <span class="mini-text">Chess Requests</span>
    </div>
</div>
<div style="text-align:center;">
    <div class="left-div">
    <div>
        <span>Invite Friends</span>
        <div class="popuptext" id="inviteFriends">
            <div *ngFor="let friend of friendObjects;let i = index">
                <span id="send_{{friend.name}}">{{friend.name}}</span>
                <button *ngIf="friend.hasRequest == false" (click)="sendRequest(friend.name)">Send Request</button>
                <span *ngIf="friend.hasRequest"> Request Pending</span>
            </div>
        </div>
    </div>
    </div>
    <div class="right-div">
    <div>
        <span>Requests</span>
        <div class="popuptext" *ngIf="noRequests" id="requests">
            You have no requests
        </div>
        <div class="popuptext" *ngIf="noRequests == false" id="requests">
            <div *ngFor="let request of requestObjects;let i = index">
                <div *ngIf="request.accepted">
                    <div *ngIf="request.from == username">
                        {{request.to}} has accepted your request!<br>
                        <a href="../../assets/Chess/chess.html?code={{request.reqid}}&color=w">Play now!</a>
                    </div>
                    <div *ngIf="request.to == username">
                        You have accepted {{request.from}}'s request!<br>
                        <a href="../../assets/Chess/chess.html?code={{request.reqid}}&color=b">Play now!</a>
                    </div>                
                </div>
                <div *ngIf="request.accepted==false">
                    <span>This request is still pending</span>
                    <div *ngIf="request.from == username">
                        <span>{{request.to}} is yet to accept your request</span>
                    </div>
                    <div *ngIf="request.to == username">
                        <span>{{request.from}} is inviting you to play!</span><br>
                        <button (click)=acceptRequest(request.reqid)>Accept Request</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

