@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css);

.bg-div {
    background: linear-gradient(rgba(255,255,255,.85), rgba(255,255,255,0.05)), url("../../assets/home_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}