* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-image: url(https://c1.staticflickr.com/9/8617/16410892260_f07318d3b3_b.jpg); /*url(webpage/8.jpg);*/
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}

.heading {
    width: 600px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}


.title1 {
    display: block;
    text-align: center;
    color: white;
    font-size: 60pt;
    font-family: monospace;
}

.title2 {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: white;
    font-size: 15pt;
    font-family: monospace;
}

.register {
    margin: 50px auto;
    display: block;
    width: 180px;
    height: 50px;
    border: 3px solid white;
    background-color: rgba(255,255,255,0);
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 1000ms, color 1000ms;
}
.register:hover {
        background-color: rgba(255,255,255,1);
        color: #222;
        cursor: pointer;
        transition: background-color 1000ms, color 1000ms;
}