<igx-card>
  <igx-card-media height="196px">
      <img [src]="https://images.unsplash.com/photo-1518235506717-e1ed3306a89b?ixlib=rb-1.2.1&auto=format&fit=crop&w=640&q=50">
  </igx-card-media>

  <igx-card-header>
      <h3 igxCardHeaderTitle>New York</h3>
      <h5 igxCardHeaderSubtitle>City in New York</h5>
  </igx-card-header>

  <igx-card-content>
      <p>New York City comprises 5 boroughs sitting where the Hudson River meets the Atlantic Ocean. At its core is Manhattan, a densely populated borough that’s among the world’s major commercial, financial and cultural centers.</p>
  </igx-card-content>

  <igx-card-actions>
      <button igxButton igxRipple>Read More</button>
      <button igxButton="icon" igxRipple igxRippleCentered="true">

      </button>
      <button igxButton="icon" igxRipple igxRippleCentered="true">

      </button>
  </igx-card-actions>
</igx-card>
