.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.boxed {
  border: 4px solid red ;
  background-color: black;
  padding:2%;
  margin: 10px;
}

.container {
  position: relative;
}

.topright {
  position: absolute;
  top: 30%;
  right: 1%;
  font-size: 20px;
  margin-left: 500px;
}

.bottomright {
  position: absolute;
  top: 80%;
  right: 5%;
  font-size: 30px;
}


.button {
  background-color: blue;
  color: pink;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px;
  border-color: red;
}
.checked {
  color: orange;
}
