
<!-- <mat-card class="example-card">


    <b><mat-card-title>{{games.name}}</mat-card-title>
    <mat-card-subtitle> rating :  {{games.rating}}</mat-card-subtitle></b>

  <img mat-card-image src={{games.imgUrl}}>


      {{games.desc}}

  <mat-card-actions>
    <button mat-button><a href={{games.src}}>Play</a></button>

  </mat-card-actions>
</mat-card> -->

<div class="boxed container">
  <div style="text-align: center;">
  <h1 style="color: aliceblue;">{{games.name}}</h1>
  <app-onestars *ngIf="games.rating === 1"></app-onestars>
  <app-twostars *ngIf="games.rating === 2"></app-twostars>
  <app-threestars *ngIf="games.rating === 3"></app-threestars>
  <app-fourstars *ngIf="games.rating === 4"></app-fourstars>
  <app-fivestars *ngIf="games.rating === 5"></app-fivestars>
  </div>
  <br><br>
  <button class="btn-3 draw-border-3"><img src = {{games.imgUrl}} width="350px" height="300px"></button>
  <div class="topright" style="color: antiquewhite;"><button class="btn-2 draw-border-2">{{games.desc}}</button></div>
  <br><br>
  <div class="bottomright" ><a href={{games.src}} style="text-decoration:none"><button class="btn draw-border">Play Now</button></a></div>
<br><br><br><br><br><br>
</div>
