<h2>Register</h2>
<form (ngSubmit)="registerUser()" enctype="multipart/form-data">
    <div>
        <label>First Name</label>
        <input [(ngModel)]="registerUserData.firstname" name="firstname" type="text">
    </div>
    <div>
        <label>Last Name</label>
        <input [(ngModel)]="registerUserData.lastname" name="lastname" type="text">
    </div>
    <div>
        <label>Email</label>
        <input [(ngModel)]="registerUserData.email" name="email" type="text">
    </div>
    <div>
        <label>Username</label>
        <input [(ngModel)]="registerUserData.username" name="username" type="text">
    </div>
    <div>
        <label>Password</label>
        <input [(ngModel)]="registerUserData.password" name="password" type="password">
    </div>
    <div>
        <label for="image">Image</label>
        <input id="image" type="file" name="image" accept="image/*" (change)="addFile($event.target.files)">
    </div>
    <div>
        <button type="submit">Register</button>
        <a routerLink="/login">Cancel</a>
    </div>
</form>

